name: docker-build

on:
  push:
    branches: [ main ]
    paths:
      - 'sentiment-docker/**'
      - '.github/workflows/docker-build.yml'

permissions:
  contents: read

concurrency:
  group: docker-${{ github.ref }}
  cancel-in-progress: false

env:
  IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/sentiment-docker

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }} # or DOCKER_PASSWORD

      - name: Docker meta (tags & labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha,prefix=sha-,format=short

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./sentiment-docker
          file: ./sentiment-docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64